* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../assets/background.png);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
  background-color: #d0b3af;
  height: 70px;
}

.logo {
  text-align: center;
  padding: 10px;
}

.menu {
  float: right;
  margin: 20px;
  padding: auto;
}

.menu td {
  width: 90px;
  height: 30px;
  background-color: #e4b8a2;
  border-radius: 50px;
  font-size: 11px;
  margin: 5px;
  padding-top: 1rem;
  text-align: center;
}

.menu a {
  color: rgb(255, 255, 255);
  font-weight: bolder;
  text-decoration: none;
  padding: 15px;
}

.menuCategorias:hover {
  opacity: 0.3;
}

.banner {
  background-image: url(../assets/javibanner8.png);
  height: 550px;
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(255, 255, 255);
}


.banner h1 {
  float: inline-end;
  font-size: 5rem;
  padding: 150px 50px;
}

.widgets {
  display: flex;
  margin-top: 50px;
}

.cuadrado {
  width: 21.25rem;
  height: 31.063rem;
  margin-left: 125px;
  margin-bottom: 40px;
  background-image: url(../assets/INFOBLOCK5.png);
  background-size: contain;
}

.infobloque {
  width: 21.25rem;
  height: 31.063rem;
  margin-left: 125px;
  margin-bottom: 40px;
  background-image: url(../assets/FOTOBLOCK3.png);
  background-size: contain;
}

.cuadrado p {
  color: #b37a7d;
  font-size: 1.2rem;
  padding-top: 100px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

.infobloque img {
  width: 10rem;
  padding-top: 70px;
  padding-left: 40px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.tablaCategorias {
  width: auto;
  margin: auto;
}

footer {
  background-color: #d0b3af;
  color: white;
  text-align: center;
  padding: 20px 100px 70px 100px;
}

@media (min-width: 1045px) {
  .menu {
    margin-top: 500px;
  }
  .menu a {
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 150;
  }
  .menu td {
    width: 200px;
    height: 25px;
    background-color: #e4b8a2;
    border-radius: 50px;
    font-size: 11px;
    margin: 5px;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    text-align: center;
  }
  .infobloque img {
    width: 19rem;
    padding-top: 70px;
    padding-left: 16px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

@media (max-width: 1000px) {
  .widgets {
    display: block;
    margin-top: 50px;
  }


}

@media (max-width: 376px) {
  .menu td {
    display: block;
  }
  .banner {
    height: 300px;
  }
  
  .menu {
    float: left;
  }
  .banner h1 {
    float: inline-end;
    font-size: 2rem;
    padding-top: 160px;
    text-align: right;
  }
  .cuadrado {
    width: 19rem;
    height: 28rem;
    margin-left: 40px;
    margin-bottom: 40px;
    background-image: url(../assets/INFOBLOCK5.png);
    background-size: 19rem, 50rem;
    background-size: contain;
  }
  .infobloque {
    width: 19rem;
    height: 28rem;
    margin-left: 40px;
    margin-bottom: 40px;
    background-image: url(../assets/FOTOBLOCK3.png);
    background-size: 19rem, 50rem;
    background-size: contain;
  }

  .infobloque img {
    width: 17rem;
    padding-top: 55px;
    padding-left: 16px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

@media (min-width: 377px) and (max-width: 821px) {
  .menu td {
    display: block;
  }
  .widgets {
    display: flex;
  }
  .cuadrado {
    width: 70rem;
    height: 22rem;
    margin-bottom: 40px;
    margin-left: 20px;
    margin-right: 10px;
    background-image: url(../assets/INFOBLOCK5.png);
    background-size: 10rem, 20rem;
    background-size:contain;
  }
  .infobloque {
    width: 70rem;
    height: 22rem;
    margin-right: 10px;
    margin-bottom: 40px;
    margin-left: 20px;
    background-image: url(../assets/FOTOBLOCK3.png);
    background-size: 10rem, 20rem;
    background-size: contain;
  }

  .infobloque img {
    width: 13rem;
    padding-top: 50px;
    padding-left: 16px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

@media (min-width: 911px) and (max-width:1000px){
  .banner {
    height: 450px;
    
  }

  .banner h1 {
    float:inline-start;
    font-size: 5rem;
    padding-bottom: 400px;
  }

  .menu {
    margin-top: 60px;
  }
  .menu td {
    margin-left: 400px;
    display: block;
  }
  .widgets {
    display: flex;
  }
    .cuadrado {
    width: 50rem;
    height: 22rem;
    margin-bottom: 40px;
    margin-left: 30px;
    margin-right: 30px;
    background-image: url(../assets/INFOBLOCK5.png);
    background-size: 15rem, 20rem;
    background-size:contain;
  }
  .infobloque {
    width: 50rem;
    height: 22rem;
    margin-right: 30px;
    margin-bottom: 40px;
    margin-left: 30px;
    background-image: url(../assets/FOTOBLOCK3.png);
    background-size: 15rem, 20rem;
    background-size: contain;
  }

  .infobloque img {
    width: 13rem;
    padding-top: 50px;
    padding-left: 16px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}